<div class="outside-container">
  <div class="container">
    <div>
      <div style="font-size: 32px">:(</div>
      <div>
        Your device ran into a problem and needs to restart. We're just
        collecting some error info, and then we'll restart for you.
      </div>
    </div>
    <div>{{ percentage }}% complete</div>
    <div class="fc sub-container">
      <div class="fc">
        <img
          src="/assets/frame.png"
          alt="https://www.youtube.com/watch?v=LDU_Txk06tM"
        />
      </div>
      <div class="fc" class="stack">
        <div>
          For more information about this issue and possible <br />
          fixes, visit https://www.windows.com/stopcode
        </div>
        <div>
          if you call a support person, give them this info:
          <br />
          Stop code: WHEA UNCORRECTABLE ERROR
        </div>
      </div>
    </div>
  </div>
</div>
