* {
  font-size: large;
  width: fit-content;
}
.outside-container {
  width: 100vw;
  background-color: #0078d7;
  display: flex;
  justify-content: center;
}
.container {
  color: white;
  flex-direction: column;
  gap: 28px;
  height: calc(100vh - 32px);
  padding: 24ch;
  display: flex;
  justify-content: center;
}
.sub-container {
  gap: 8px;
  display: flex;
}

.fcc {
  display: flex;
  align-items: center;
}

.stack {
  flex-direction: column;
  display: flex;
  height: 100%;
}

img {
  max-height: 108px;
}

@media screen and (max-width: 960px) {
  .sub-container {
    flex-direction: column;
  }
  .container {
    gap: 0px;
  }
}
