.outside-container {
  display: flex;
  gap: 8px;
  height: calc(100vh - 32px);
  background-color: black;
  overflow-y: auto;
  padding: 8px;
}

.outermost-container {
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 32px);
}

.post {
  background-color: #131313;
  border: solid gray 1px;
  color: white;
  min-height: fit-content;
  display: flex;
  border-radius: 4px;
  padding: 12px;
  width: 500px;
}

.content {
  flex-direction: column;
  display: flex;
  width: 100%;
}

.pic-container {
  width: 40px;
  min-width: 40px;
  max-width: 40px;
  height: 40px;
  min-height: 40px;
  max-height: 40px;

  border-radius: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 8px;
}

.profile-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-info {
  display: flex;
  gap: 4px;
  justify-items: center;
  align-items: center;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #71767b;
}

.action-bar {
  color: #71767b;
  font-size: small;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-top: 14px;
  color: white;
}

.material-symbols-outlined {
  color: white;
}

.action-bar > div {
  display: flex;
  align-items: center;
}

.action-button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-body {
  margin-right: 25px;
}

.posts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding-bottom: 8px;
}

.outside-container {
  display: flex;
  background-color: black;
  width: 100%;
  justify-content: center;
}

.sidebar {
  position: relative;
  display: flex;
  background-color: black;
}

.left-sidebar {
  width: 259px;
}

.right-sidebar {
  width: 350px;
}

.box-1,
.box-2 {
  position: fixed;
  padding: 2px;

  border-radius: 4px;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.055);
  height: max-content;
}

.box-1 {
  width: 259px;
}

.sidebar-button-container {
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.842);
  border-radius: 4px;
}

.sidebar-button {
  color: white;
  padding: 8px;
  width: 100%;
}

.sidebar-button:hover {
  background-color: rgba(255, 255, 255, 0.459);
  color: black;
  font-weight: bolder;
  cursor: pointer;
}

.sidebar-button:last-child:hover {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.box-2 {
  width: 350px;
}

.ad-img {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.create-button {
  position: absolute;
  bottom: 20px;
  left: calc(50% + 265px);
  width: max-content;
  display: flex;
  padding: 4px 16px;
  border-radius: 16px;
  font-weight: bolder;
  cursor: pointer;
  -webkit-transition: background-color 250ms linear;
  -moz-transition: background-color 250ms linear;
  -o-transition: background-color 250ms linear;
  -ms-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
  transition: border 250ms linear;
  border: solid transparent 1px;
  background-color: #131313;
  color: rgba(243, 90, 70, 0.945);
  &:hover {
    border: solid rgba(255, 255, 255, 0.39) 1px;
  }
}

@media screen and (max-width: 1155px) {
  .left-sidebar {
    display: none;
  }
}

@media screen and (max-width: 960px) {
  .posts-container {
    padding-top: 8px;
  }
  .sidebar {
    display: none;
  }
  .post {
    width: 98vw;
  }
  .outside-container {
    padding: 0px;
    justify-content: center;
  }
  .create-button {
    background-color: black;
    left: calc(100% - 120px);
  }
}
