<div class="outermost-container">
  <div class="outside-container">
    <div class="left-sidebar sidebar">
      <div class="box-1"></div>
    </div>
    <div class="container">
      <div class="posts-container">
        <!-- <div class="buttons">
        <button class="create-button">
          <span class="material-symbols-outlined"> notifications </span>
        </button>
        
        some kind of bell you can just click to ring it will do a fun animation and ++ to a table 

        use visitors IP / location / ?? to get some sort of username

        <button class="create-button">Create</button>
      </div> -->
        @for (post of posts; track $index) {
        <div class="post">
          <div class="pic-container">
            <img
              class="profile-pic"
              [alt]="post.creator.name"
              [src]="post.creator.img"
            />
          </div>
          <div class="content">
            <div class="user-info">
              <p class="info">
                <span
                  style="color: white; margin-right: 4px; font-weight: bold"
                  >{{ post.creator.name }}</span
                >
                &commat;{{ post.creator.name }}
              </p>
              <p class="info">
                •
                {{ post.post_date.toFormat("yyyy LLL dd") }}
              </p>
            </div>
            <div class="title-body">
              <p>{{ post.title }}</p>
              <p>{{ post.body }}</p>
            </div>
            <div class="action-bar">
              <div>
                <button class="action-button">
                  <span class="material-symbols-outlined"> forum </span>
                </button>
                <span>{{ post.num_comments }}</span>
              </div>
              <div>
                <button class="action-button">
                  <span class="material-symbols-outlined"> sync </span>
                </button>
                <span>{{ post.num_shares }}</span>
              </div>
              <div>
                <button class="action-button">
                  <span class="material-symbols-outlined"> heart_plus </span>
                </button>
                <span>{{ post.num_likes }}</span>
              </div>
              <div>
                <div>
                  <button class="action-button">
                    <span class="material-symbols-outlined"> bookmarks </span>
                  </button>
                </div>
                <div>
                  <button class="action-button">
                    <span class="material-symbols-outlined"> ios_share </span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        }
      </div>
    </div>

    <div class="right-sidebar sidebar">
      <div class="box-2"></div>
    </div>
  </div>
  @if(show_sign_up){
  <app-sign-up (show_sign_up)="show_sign_up = false"></app-sign-up>
  }
</div>
