.outside-container {
  display: flex;
  gap: 8px;
  height: calc(100vh - 32px);
  /* width: 100vw; */
  /* background-color: #131313; */
  background-color: black;
  overflow-y: auto;
  padding: 8px;
}

.outermost-container {
  display: flex;
  flex-direction: column;
  /* max-height: calc(100vh - 72px);
  height: calc(100vh - 72px);
  min-height: calc(100vh - 72px); */
  max-height: calc(100vh - 32px);
}

.post {
  /* background-color: white; */
  background-color: #131313;
  border: solid gray 1px;
  color: white;
  min-height: fit-content;
  display: flex;
  border-radius: 4px;
  padding: 12px;
  width: 500px;
}

.content {
  flex-direction: column;
  display: flex;
  width: 100%;
}

.pic-container {
  width: 40px;
  min-width: 40px;
  max-width: 40px;
  height: 40px;
  min-height: 40px;
  max-height: 40px;

  border-radius: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 8px;
}

.profile-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-info {
  display: flex;
  gap: 4px;
  justify-items: center;
  align-items: center;
}

.action-bar {
  color: #71767b;
  font-size: small;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #71767b;
}

.action-bar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-top: 14px;
  color: white;
}

.material-symbols-outlined {
  color: white;
}

.action-bar > div {
  display: flex;
  align-items: center;
}

.action-button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-body {
  margin-right: 25px;
}

.posts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  /* padding: 8px 0px; */
  padding-bottom: 8px;
  /* height: calc(100vh - 32px); */
  /* top: 0;
  left: 0;
  right: 0;
  bottom: 0; */
  /* background-color: black; */
  /* position: absolute; */
}

.outside-container {
  display: flex;
  background-color: black;
  width: 100%;
  justify-content: center;
}

.sidebar {
  position: relative;
  display: flex;
  background-color: black;
}

.left-sidebar {
  width: 259px;
}

.right-sidebar {
  width: 350px;
}

.box-1,
.box-2 {
  height: 300px;
  position: fixed;
  top: 40px;
}

.box-1 {
  background-color: yellow;
  border-radius: 4px;

  width: 259px;
}

.box-2 {
  background-color: purple;
  border-radius: 4px;
  width: 350px;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* .container {
  display: flex;
  flex-direction: column;
  height: calc(100% - 72px);
} */

@media screen and (max-width: 960px) {
  .posts-container {
    padding-top: 8px;
  }
  .sidebar {
    display: none;
  }
  .post {
    width: 98vw;
  }
  .outside-container {
    padding: 0px;
    justify-content: center;
  }
}
