<nav
  style="
    padding: 4px;
    background-color: #212121;
    color: white;
    display: flex;
    gap: 4px;
    justify-content: center;
    align-items: center;
    height: 32px;
  "
>
  @for (link of ShownNavItems; track $index) {
  <a [href]="link.link">{{ link.title }}</a>
  @if($index !== ShownNavItems.length - 1){
  <!--  -->
  /
  <!--  -->
  }
  <!--  -->
  }

  <!--  -->
  @if(ExtraNavItems.length > 0){ /
  <div class="other">
    <p class="other-title">fun</p>
    <div class="dropdown-link-container">
      @for (extra of ExtraNavItems; track $index) {
      <a class="dropdown-link" [href]="extra.link">{{ extra.title }}</a>
      }
    </div>
  </div>
  }
</nav>

<router-outlet />
