<div class="sign-up-container">
  <div class="action-container">
    <div class="message">
      <img class="logo" src="../../assets/logo1.jpeg" alt="logo" />
      <p>
        Create a thread, join the conversation <br />
        meet new people!
      </p>
    </div>
    <div class="buttons">
      <button class="create-button">Create</button>
      <button class="close" (click)="Emit()">
        <span class="material-symbols-outlined"> close </span>
      </button>
    </div>
  </div>
</div>
