<div class="create-post-container">
  <div class="create-post">
    <div class="pic-and-name">
      <div class="pic-container">
        <img
          class="profile-pic"
          src="https://images.unsplash.com/photo-1677709678888-8100c8bfcf30?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        />
      </div>
      <div class="poster-info">
        <p>YourName</p>
        <P> &commat;YourName </P>
      </div>
    </div>

    <div class="meta-info">
      <textarea class="post-input" placeholder="How's it going?"></textarea>
    </div>
    <div class="action-bar">
      <div>{{ todays_date }}</div>
      <div>
        <button class="action-button">
          <span class="material-symbols-outlined"> forum </span>
        </button>
      </div>
      <div>
        <button class="action-button">
          <span class="material-symbols-outlined"> sync </span>
        </button>
      </div>
      <div>
        <button class="action-button">
          <span class="material-symbols-outlined"> heart_plus </span>
        </button>
      </div>
      <div>
        <div>
          <button class="action-button">
            <span class="material-symbols-outlined"> bookmarks </span>
          </button>
        </div>
        <div>
          <button class="action-button">
            <span class="material-symbols-outlined"> ios_share </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
